				@font-face {
					font-family: 'talasem';
					src: url('1582talasem.woff2') format('woff2'),
						url('1582talasem.woff') format('woff');
					  font-display: auto;
				}

				.talasem{font-family: 'talasem' !important;}

		